/bin/
build
target
Servers
RemoteSystemsTempFiles
plugins
.metadata
.recommenders
./docs/.~lock.Akkis scrum 1.xsl#
./docs/sprint/Akkis scrum 1.xsl#
./docs/.~lock.Akkis scrum 2.xsl#
./docs/sprint/Akkis scrum 2.xsl#
./docs/.~lock*
./docs/.~lock
