@CHARSET "UTF-8";

.news {
	border: 2px dotted black;
	background-color: #EEEEEE;
	width: 600px;
	height: 250px;
}

.ui-menubar .ui-menuitem-link {
   font-size: 16px;
}

.ui-button {
	height:32px;
	font-size:12px;
}

.ui-button-text {
	height:32px;
	font-size:16px;
    padding: .2em .3em;
}

